<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
      {{>nav}}
      <div>
          <div class="main_content row">
              <div class="left-side col-md-6 col-12">
                  <div><h3>Ritesh</h3></div>
                  <div><h5>I am a <span>MERN</span> Stack Developer</h5></div>
              </div>
              <div class="right-side col-md-6 col-12">
               <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <img src="images/about.png" class="d-block w-100" alt="...">
              </div>
          </div>
      </div>
</body>
</html>