<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
      {{>nav}}
      <div class="row"> 
          <div class="main_content col-md-6">
              <div class="searchBar">
                  <form>
                      <input type="text" id="cityName" placeholder="Enter Your City">
                      <input type="submit" value="search" id="sbtbtn">
                  </form>
              </div>
              <div class="OutputBar col-md-6 m-auto mt-5">
                  <div class="top_layer">
                      <p id="day">Tuesday</p><p id="date">13 Oct</p>
                  </div>
                  <div class="bottom_layer">
                      <p id="output"><span class="Hideoutput">Get Output here</span></p>
                      <div class="temp">
                          <p><span id="temp"><sup>0</sup>C</span></p><p><i class="temp_status fas"></i></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
<script src="js/main.js"></script>
</body>
</html>
